{% macro render_modal(track_name, artist_name, track_id)  %}

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModel" value="{{ track_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <h4 class="mb-0">{{ track_name }}
                        <span class="lead text-muted">by {{ artist_name }}</span>
                    </h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
                <ul>
                    <li>song_id: {{ track_id }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- <div id="open-modal" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>{{ track_name }}</h1>
        <div>A CSS-only modal based on the :target pseudo-class. Hope you find it helpful.</div>
        <div><small>Check out</small></div>
        <a href="https://aminoeditor.com" target="_blank">👉 Amino: Live CSS Editor for Chrome
    </div>
</div> -->

{% endmacro %}